<button mat-button [matMenuTriggerFor]="menu"> <mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <a [routerLink]="['/categoria']" mat-menu-item>Categorias</a>
    <a [routerLink]="['/meta']" mat-menu-item>Metas</a>
    <a [routerLink]="['/objetivo']" mat-menu-item>Objetivos</a>
      <!-- <a [routerLink]="['/despesa']" mat-menu-item>Despesas</a> -->
      <!-- <a [routerLink]="['/positivo']" mat-menu-item>Receitas</a> -->
      <a [routerLink]="['/alerta']" mat-menu-item>Alertas</a>
            <a [routerLink]="['/banco']" mat-menu-item>Banco</a>
    <a [routerLink]="['/conta']" mat-menu-item>Conta</a>
 <a [routerLink]="['/lancamento']" mat-menu-item>Lancamento</a> -->

</mat-menu>