<mat-toolbar color="primary" class="mat-elevation-z8">
    <app-main-menu></app-main-menu>
    <a [routerLink]="['/']" style="text-decoration: none; color: #FFFFFF;">{{ appName }}</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
     <a [routerLink]="['/despesa']" style="text-decoration: none; color: #FFFFFF;"> 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>people_alt</mat-icon>
    </button></a>
  </mat-toolbar>