<h1>{{title}}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
<!-- botão de salvar o formulario -->
   <mat-form-field>
    <mat-label>Sigla da banco</mat-label>
    <input name="sigla" [(ngModel)]="banco.sigla" matInput required>
  </mat-form-field> 
    <mat-form-field> 
    <mat-label>Nome da banco</mat-label>
    <input name="nome" [(ngModel)]="banco.nome" matInput required>
  </mat-form-field> 

  
 <mat-form-field>
    <mat-label>codigo banco</mat-label>
    <input name="codigo" [(ngModel)]="banco.codigo" matInput required
     type="number">
  </mat-form-field>
   
   <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>