 <mat-grid-list cols="2" rowHeight="2:1">
       <mat-grid-tile>
<mat-card class="example-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image1"></div>
    <mat-card-title>Gabriel Lopes</mat-card-title>
    <mat-card-subtitle>Desenvolvedor</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>
      Desenvolver web aluno do 4 º semestre matutino de analise e desenvolvimento de sistema pela Fatec Franca
      
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
 </mat-grid-tile>

   <mat-grid-tile>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Lucas Maritan</mat-card-title>
    <mat-card-subtitle>Desenvolvedor</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>
         Analista e Desenvolvedor de sistemas, Analista de midia digitais cursando o 4 semestre de  analise e desenvolvimento de sistema pela Fatec Franca

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
 </mat-grid-tile>
 </mat-grid-list>