
.example-card  {
  max-width: 400px; 
  position: relative;
    justify-content: left;
  
} 
.example-header-image1 {
  background-image: url('../../img/devlopes.jpg');
  background-size: cover;
}
.example-header-image{
        background-image: url('../../img/lucas.jpeg');
      background-size: cover;
}