<h1>{{title}}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
<!-- botão de salvar o formulario -->

<!-- Modo para usar no form entidades relacionadas -->
   <mat-form-field>
    <mat-label>Nome</mat-label>
    <input name="nome" [(ngModel)]="conta.nome" matInput required>
  </mat-form-field>
 
 <mat-form-field>
    <mat-label>Conta</mat-label>
      <mat-select name="conta" [(ngModel)]="conta.descricao" >
        <mat-option *ngFor="let banco of bancos" [value]="banco._id">
          {{ banco.nome }}
        </mat-option>
      </mat-select>
  </mat-form-field>

           <mat-form-field>
    <mat-label>Tipo</mat-label>
    <input name="tipo" [(ngModel)]="conta.tipo" matInput required>
  </mat-form-field>

   <mat-form-field>
    <mat-label>Saldo</mat-label>
    <input name="saldo" [(ngModel)]="conta.saldo" matInput required
     type="number">
  </mat-form-field>
 
   <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>